html {
    padding-left: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}


#name {
    /* text-align: center; */

    font-weight: bold;
    font-size: 80px;
    font-family: sans-serif;
}


.text {
    color: black;
    /* text-align: center; */
    font-size: 20px;
    font-family: sans-serif;

}

#social-media {
    padding-top: 10px;
    text-align: center;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github {
    background: black;
    color: white;
    /* border: 1px solid white; */
}

.fa {
    padding: 10px;
    font-size: 50px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;

}